body {
    min-width: 357px;
    overflow-x: hidden;
}

img {
    margin: 5px;
    border: 2px solid black;
    vertical-align: middle;
    width: 75px;
    height: 75px;
}

input.center {
    display: block;
    margin: 0 auto;
    width: 30%;
}

div.left {
    width: 50%;
    float: left;
}

div.right {
    width: 50%;
    float: right;
}
